<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>server_timeout</key>
	<string>20</string>
	<key>ip_address</key>
	<string></string>
	<key>mnc_value</key>
	<string></string>
	<key>mcc_value</key>
	<string></string>
	<key>server_endpoint</key>
	<string>http://3.8.5.176:8080/mobile-connect-uk/server_side_api/start_discovery</string>
	<key>server_endpoint_wd</key>
	<string></string>
	<key>msisdn</key>
	<string></string>
	<key>msisdn_wd</key>
	<string></string>
</dict>
</plist>
