<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>server_timeout</key>
	<string>20</string>
	<key>ip_adress</key>
	<string>10.0.0.1</string>
	<key>mnc_value</key>
	<string>01</string>
	<key>mcc_value</key>
	<string>901</string>
	<key>server_endpoint</key>
	<string>http://172.19.2.20:8080/server_side_api/start_discovery</string>
	<key>msisdn</key>
	<string>447700900901</string>
</dict>
</plist>
